.spotify-component {
    width: 100%;
    max-width: 1192px;
    padding: 60px 20px;
    margin: 0 auto;

    &__title {
      @extend %title-72;
      font-weight: 700;
        margin-bottom: 40px;
        width: 100%;
        max-width: 20ch;
        text-align: center;
        font-family: var(--font-durkwide);

        
      
    
        & > span {
          color: $secondary-color;
        }
      }
}