
  
      .testimonials {
        // max-width: 1192px;
        // width: 100%;
        padding: 60px 0;
        margin: 0 auto 0 auto;
        overflow: hidden;
        scroll-behavior: smooth;
        transition: 0.3s;
        position: relative;
        // background: yellow;
        display: flex;
        flex-direction: column;
        gap: 40px;
  
        @media (max-width: $phone) {
          padding: 0;
        margin: 0 auto 0 auto;
        // height: 400px;
        overflow-x: auto;
  
        }

        &__title {
          padding: 8px 12px;
          background: #fff;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          font-weight: 600;
          border-radius: 24px;
          margin: auto;
          margin-bottom: 20px;
          width: fit-content;
      
          &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #17181B;
            border-radius: 50%;
            // width: 20px;
            // height: 20px;
            padding: 5px 5px 7px 7px;
          }
        }
      
  
        &__slider {
          display: flex;
          align-items: center;
          gap: 20px;
          // overflow: auto;
          // position: absolute;
          // top: 0;
          // left: 0;
          height: 100%;
         
          //The idea for this animation is to find a point during the animation that looks like the beginning of the animation and restart the animation at that point. This gives the feel that the animation is endless. Kind of like when the end ov a video is exaclty the same as the beginnig. you would not know when you've started watching the video all over again
  
  
          &::-webkit-scrollbar {
            display: none;
          }
  
          &:hover {
            animation-play-state: paused;
          }
  
          &__card {
            min-width: 362px;
            height: 240px;
            padding: 24px;
            border: 2px solid #dbdbe1;
            border-radius: 16px;
            background: #f7f7f8;
            // background: rgba(20, 20, 20, 1);
            transition: transform 0.7s;
            cursor: pointer;
            // transform: skewX(20deg);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
            @media (max-width: $phone) {
              min-width: 320px;
            }
  
          
  
            &:hover {
              // transition: 0.3s;
              transition: 0.3s;
              // cursor: pointer;
  
              transform: rotate(-5deg);
              
            }


            &__text {
              line-height: 140%;
              font-size: 14px;
            }

            &__profile {
              display: flex;
              gap: 8px;
              align-items: start;

              & > img {
                border-radius: 50%;
              }

              &__title {
                margin-bottom: 8px;
              }
              &__subtitle {
                color: rgb(172, 172, 192);
              }
            }

          }
  
         

          
        }

        &__slider-left {
          animation: marqueeXLeft 145s linear infinite;
          // animation-play-state: paused;

          & > :nth-child(odd) {
            background: #17171c;
            border: none;
            color: #fff;

            .testimonials__slider__card__profile__subtitle {
              color: #fff;
            }

          }

          @keyframes marqueeXLeft {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(calc(-650px * var(--item-count) - (20px * var(--item-count))));
            }
          }
        }
        &__slider-right {
          animation: marqueeXRight 145s linear infinite;
          // animation-play-state: paused;

          
          & > :nth-child(odd) {
            background: #17171c;
            border: none;
            color: #fff;

            .testimonials__slider__card__profile__subtitle {
              color: #fff;
            }
          }

          @keyframes marqueeXRight {
            0% {
              transform: translateX(calc(-650px * var(--item-count) - (20px * var(--item-count))));
            }
            100% {
              transform: translateX(0);
            }
          }
        }
      }
    
  